.post-form span:first-child {
  font-weight: 500;
}
.post-form span:last-child {
  font-size: small;
}

.post-form textarea {
  border: none;
  padding: 0;
  resize: none;
  outline: none;
  font-size: 1.3rem;
}
.post-form textarea:focus {
  border-color: none;
}
.public-bg {
  background: #e4e6eb;
}
